<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Your email address:</mat-label>
    <input matInput formControlName="email" type="email" placeholder="john.doe@example.com">
    @if (form.controls.email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
    @if (form.controls.email.hasError('email')) {
      <mat-error>Email is not in the right format</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your password:</mat-label>
    <input matInput formControlName="password" type="password" placeholder="********">
    @if (form.controls.password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form>
